.jumbotron
{
	background: url("/assets/yoga.jpg") no-repeat;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% auto;
	min-height: 600px;
}


.jumbotron h1, p 
{
	color: #FFFFFF;
}