<div class="container-fluid">
	<p id="notice"><%= notice %></p>

	<!-- Show all the gyms here -->

	<%= link_to 'Edit User', edit_user_path(@user) %> |
	<%= link_to 'Create a new gym', new_gym_path %>
</div>
