<div class="container-fluid">
	<div class="row">
		<%= image_tag "homepage.jpg", id: "landing-image"%>
	</div>
	<div class="row" id="how-it-works">
		<i><h1 class="text-center" style="color:#92c4e3">How It Works</h1></i>
		<div class="text-center" style="margin-left: 25%; margin-top: 50px">
			<h3 class="text-left">1. Create your profile</h3>
			<h3 class="text-left">2. Pick the studios that you'd like to attend that month</h3>
			<h3 class="text-left">3. Start getting fit</h3>
		</div>
	</div>
	<div class="row" id="homepage-info">
		<div class="col-md-4 image-container">
			<%= image_tag "info1.jpg", class: "info-image" %>
		</div>
		<div class="col-md-4 image-container">
			<%= image_tag "info1.jpg", class: "info-image" %>
		</div>
		<div class="col-md-4 image-container">
			<%= image_tag "info1.jpg", class: "info-image" %>
		</div>
	</div>
</div>
