<div class="container-fluid">
	<div class="row">
		<%= image_tag "homepage-fade-text-smfont.jpg", id: "landing-image" %>
	</div>
	<div class="row" id="how-it-works">
		<i><h1 class="text-center" style="color:#92c4e3">How It Works</h1></i>
		<div class="text-center" style="margin-left: 25%; margin-top: 50px">
			<h3 class="text-left" style="color:#">1. Create your profile</h3>
			<h3 class="text-left">2. Pick the studios that you'd like to attend that month</h3>
			<h3 class="text-left">3. Start getting fit</h3>
		</div>
	</div>
	<div class="row" id="homepage-info">
		<div class="col-md-4 image-container">
			<%= image_tag "info2.jpg", class: "info-image" %>
			<div class="text-over-image text-center">
				<h2>Look Great</h2>
				<p>Choose the studios that make you feel good and look great.</p>
			</div>
		</div>
		<div class="col-md-4 image-container">
			<%= image_tag "info3.jpg", class: "info-image" %>
			<div class="text-over-image text-center">
				<h2>Stay Fresh</h2>
				<p>There's a reason why fitness studios are so popular - they're lots of fun! So, don't miss out.</p>
			</div>
		</div>
		<div class="col-md-4 image-container">
			<%= image_tag "info1.jpg", class: "info-image" %>
			<div class="text-over-image text-center">
				<h2>Break Free</h2>
				<p>No more overcrowded big box gyms. Just you and a small class of people looking to get fit.</p>
			</div>
		</div>
	</div>
</div>
