<div class="container-fluid">
	<div class="row">
		<%= image_tag "homepage.jpg", id: "landing-image"%>
	</div>
	<div class="row" id="how-it-works">
		fuck
	</div>
	<div class="row" id="homepage-info">
		<div class="col-md-4 image-container">
			<%= image_tag "info1.jpg", class: "info-image" %>
		</div>
		<div class="col-md-4 image-container">
			<%= image_tag "info1.jpg", class: "info-image" %>
		</div>
		<div class="col-md-4 image-container">
			<%= image_tag "info1.jpg", class: "info-image" %>
		</div>
	</div>
</div>
