<div class="container-fluid">
	<div class="row">
		<%= image_tag "homepage.jpg", id: "landing-image"%>
	</div>
	<div class="row">
		<div id="how-it-works">
			fuck
		</div>
	</div>
	<div class="row">
	</div>
</div>
