<h1>Errors#500#internal_server_error</h1>
Sorry, either you are not authorized to view this page or something went wrong. Get out of here ya dirty bastard
<p>Find me in app/views/errors/internal_server_error.html.erb</p>
