<div class="container-fluid">

	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			
			<h3>Add Pictures</h3>

			<%= render 'form' %>

			<%= render 'layouts/back_btn' %>
			
		</div>
		<div class="col-md-4"></div>
	</div>

</div>