<table id="gyms" class="table">
	<thead>
		<tr>
			<th>Gym Name</th>
			<th>Street</th>
			<th>City</th>
			<th>State</th>
			<th>Zip</th>
		</tr>
	</thead>
	<tbody id="gyms-tbody">
	</tbody>
</table>