<script>

// function createSidebarLi(json)
// {
// 	console.log(json)
// 	return("<li><a>" + json.name + "</a></li>")
// };

function createTableRow(json)
{
	return("<tr><td>" + json.name + "</td><td>" + json.street + "</td><td>" + json.city + "</td><td>" + json.state 	+ "</td><td>" + json.zip + "</td></tr>")
};

// function bindLiToMarker($li, marker)
// {
//   $li.on('click', function(){
//     handler.getMap().setZoom(14);
//     marker.setMap(handler.getMap()); //because clusterer removes map property from marker
//     marker.panTo();
//     google.maps.event.trigger(marker.getServiceObject(), 'click');
//   })
// };

function bindRowToMarker($tr, marker)
{
		$tr.on('click', function(){
			handler.getMap().setZoom(14);
			marker.setMap(handler.getMap());
			marker.panTo();
			google.maps.event.trigger(marker.getServiceObject(), 'click');
		});
};

// function createSidebar(markers_json)
// {
//   _.each(markers_json, function(json){
//     var $li = $( createSidebarLi(json) );
//     $li.appendTo('#sidebar-container');
//     bindLiToMarker($li, json.marker);
//   });
// };

function populateTable(markers_json)
{
		_.each(markers_json, function(json){
			var $tr = $( createTableRow(json) );
			$tr.appendTo('#gyms-tbody');
			bindRowToMarker($tr, json.marker);
		});
};


	handler = Gmaps.build('Google');
	handler.buildMap({ 
		provider: {
			// disableDefaultUI: true, 
			zoom: 10,
			center: new google.maps.LatLng(<%= @center[0] %>, <%=  @center[1] %>)
		}, 
		internal: {id: 'sidebar-builder'}}, function(){
			markers_json = <%=raw @hash.to_json %>
			console.log("markers_json" + markers_json)
			
			markers = _.map(markers_json, function(marker_json, index){
			  marker = handler.addMarker(marker_json);
			  _.extend(marker, marker_json);
			  return marker;
			});
			
		  markers = handler.addMarkers(markers_json);


		  _.each(markers_json, function(json, index){
		  	  		    json.marker = markers[index];
		  	  		  });
		
		  populateTable(markers_json);
		  handler.bounds.extendWith(markers);
		  handler.fitMapToBounds();
		});
</script>