<script>

function createTableRow(json)
{
	// return("<tr><td> <a href='/gyms/" + json.id + "'>"  + json.name + "</a></td><td>" + json.street + "</td><td>" + json.city + "</td><td>" + json.state 	+ "</td><td>" + json.zip + "</td></tr>")
	return("<tr><td>" + json.name + "</a></td><td>" + json.street + ", " + json.city + "</td>")
};


function bindRowToMarker($tr, marker)
{
		$tr.on('click', function(){
			handler.getMap().setZoom(14);
			marker.setMap(handler.getMap());
			marker.panTo();
			google.maps.event.trigger(marker.getServiceObject(), 'click');
		});
};

function populateTable(markers_json)
{
		_.each(markers_json, function(json){
			var $tr = $( createTableRow(json) );
			$tr.appendTo('#gyms-tbody');
			bindRowToMarker($tr, json.marker);
		});
};


	handler = Gmaps.build('Google');
	handler.buildMap({ 
		provider: {
			// disableDefaultUI: true, 
			zoom: 10,
			center: new google.maps.LatLng(<%= @center[0] %>, <%=  @center[1] %>)
		}, 
		internal: {id: 'map'}}, function(){
			markers_json = <%=raw @gyms_json.to_json %>
			console.log("markers_json" + markers_json)
			
			markers = _.map(markers_json, function(marker_json, index){
			  marker = handler.addMarker(marker_json);
			  _.extend(marker, marker_json);
			  return marker;
			});
			
		  markers = handler.addMarkers(markers_json);


		  _.each(markers_json, function(json, index){
		  	  		    json.marker = markers[index];
		  	  		  });
		
		  populateTable(markers_json);
		  handler.bounds.extendWith(markers);
		  handler.fitMapToBounds();
		});
</script>