<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1>Editing gym</h1><br \>

			<%= render 'form' %>


		</div>
		<div class="col-md-4"></div>
	</div>
</div>

<script>
	$(".jv-float").jvFloat();
</script>