<div class="container-fluid">

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
		  <div id="map">
		  </div>
		</div>
		<div class="col-md-1"></div>
	</div>
	
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<%= render 'gym_table' %>
		</div>
		<div class="col-md-1"></div>
	</div>
	
</div>

<%= link_to 'First Gym', gym_path(@gyms.first) %>

<%= render 'index_gyms_map' %>
