<div class="container-fluid">
	<div class="row">

		<div class="col-md-4">
			<h2>All Unafit Gyms</h2>
			<table class="table">
				<tr>
					<th>Gym Name</th>
					<th>Description</th>
				</tr>
				<% @gyms.each do |gym| %>
				<tr>
					<td><%= link_to gym.name, gym_path(gym.id), :class => 'navbar-link' %></td>
					<td><%= gym.description %></td>
				</tr>
			<% end %>
			</table>
		</div>
		
		<div class="col-md-8">
			<div style='width: 800px;'>
			  <div id="map" style='width: 800px; height: 400px;'>
					<%= render 'map'%>
			  </div>
			</div>
		</div>
		
	</div>
</div>