<div id="map-canvas"></div>

<script>
	handler = Gmaps.build('Google');
	markers_json = <%=raw @gyms_json.to_json %>

	handler.buildMap({ 
		provider: {
			disableDefaultUI: true,
			scrollwheel: true,
			zoom: 7
		},
		internal: {id: 'map-canvas'}}, function(){
		
			markers = _.map(markers_json, function(marker_json, index){
			  marker = handler.addMarker(marker_json);
			  _.extend(marker, marker_json);
			  return marker;
			});

		  markers = handler.addMarkers(markers_json);


		  _.each(markers_json, function(json, index){
		  	  		    json.marker = markers[index];
		  	  		  });
			
		  handler.bounds.extendWith(markers);
		  handler.fitMapToBounds();
		});
</script>
