<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h2>Add A Gym</h2>

			<%= render 'form' %>
			
			<div class="text-center" id="devise-links-group">
				<%= link_to "Back", :back, class: "devise-link" %>
			</div>
			
		</div>
		<div class="col-md-4"></div>
	</div>
</div>