<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h2>Add A Gym</h2>

			<%= render 'form' %>
			
			<%= render 'layouts/back-btn' %>
			
		</div>
		<div class="col-md-4"></div>
	</div>
</div>