<div class="container-fluid">

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		
		<div class="row">
			<div class="col-md-12" style="background-color:#f4f3f3; min-height:100px; margin-bottom:10px">
				<strong><h5><%= @gym.name %></h5></strong>
				<p><%= @gym.full_street_address %></p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<%= render 'carousel' %>
			</div>
			<div class="col-md-6">
				<div id="map"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12" style="background-color:#f4f3f3; min-height:400px;">
				
			</div>
		</div>
		
	</div>
	<div class="col-md-1"></div>
</div>

</div>

<%= render 'show_gym_map'%>
