#footer
{
  clear: both;
  position: relative;
  z-index: 10;
/*  height: 3em;*/
/*  margin-top: -3em;*/
	background-color: #666262;
	border-radius: 0px;
	margin-bottom: 0px;
	height: 100px;
	width: 100%;
}