#devise-links-group
{
	margin-top: 50px;
}

.devise-link
{
	color: #000000;
}

.devise-link:hover
{
	text-decoration: none;
}

#form-submit-btn
{
	width: 100%;
}
 
.form-group
{
	margin-bottom: 25px;
}

/*input
{
	border-top: none !important;
	border-right: none !important;
	border-top-style: none !important;
	border-right-style: none !important;
	border-top-width: none !important;
	border-right-width: none !important;
}

.form-control:focus
{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}*/