#navigation-header 
{
	min-height: 100px;
	background: white;
	opacity: 0.8;
	border-radius: 0px;
	border: 0px;
	padding: 20px;
	width: 100%;
/*	position: absolute;*/
}

.navbar-link 
{
	margin-left: 8px;
	margin-right: 8px;
}

/*#navigation-header .container-fluid
{
	padding-left: 20px;
}*/