#navigation-header 
{
	min-height: 90px;
	background: white;
	border-radius: 0px;
	border: 0px;
	padding: 20px;
	width: 100%;
/*	background-color: transparent;
	position: absolute;*/
}

.navbar-link 
{
	margin-left: 8px;
	margin-right: 8px;
	color: #515151 !important;
}

.navbar-link:hover
{
	color: #b0b3b6 !important;
	text-decoration: none !important;
	background-color: transparent;
}

/*#navigation-header .container-fluid
{
	padding-left: 20px;
}*/