.navbar 
{
	background-color: #FFFFFF;
	border: none;
	padding-right: 20px;
}

.navbar-link 
{
	margin-left: 8px;
	margin-right: 8px;
	color: #515151 !important;
}

.navbar-link:hover
{
	color: #b0b3b6 !important;
	text-decoration: none !important;
	background-color: transparent;
}