.image-fill
{
	width: 200px;
	height: 400px;
	overflow: hidden;
	background-size: cover;
  background-position: center center;
}

#gym_name
{
	color: #FFFFFF;
}

.fill-grey
{
	background-color: #CCCCCC;
}

.fill-blue
{
	background-color: #92c4e3;
}