<header>
	<nav class="navigation navigation-header">
		<div class="container">
			<div class="navigation-brand">
				<div class="brand-logo">
					<a href="/" class="logo"></a>
					<span class="sr-only">unafit</span>
				</div>
			</div>
			<div class="navigation-navbar">
				<ul class="jquery-nav navigation-bar navigation-bar-left black-links">
					<li class="active"><a href="#hero">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#features">Features</a></li>
					<li><a href="#footer">Contacts</a></li>
				</ul>
				<ul class="navigation-bar navigation-bar-right black-links">
					<li><%= link_to "Browse Gyms", gyms_path %></li>
					<li><%= link_to "Login", new_user_session_path %></li>
					<li><%= link_to "Sign up", new_user_registration_path, class: "featured" %></li>
				</ul>
			</div>
		</div>
	</nav>
</header>