<header>
	<nav class="navigation navigation-header">
		<div class="container">
			<div class="navigation-brand">
				<div class="brand-logo">
					<a href="/" class="logo"></a>
					<span class="sr-only">unafit</span>
				</div>
			</div>
			<div class="navigation-navbar">
				<ul class="navigation-bar navigation-bar-right black-links">
					<%= render 'layouts/nav_links' %>
				</ul>
			</div>
		</div>
	</nav>
</header>