<!-- LOGGED IN -->
	<ul class="navigation-bar navigation-bar-right">
			<li><%= link_to "Browse Gyms", gyms_path %></li>
			<li><%= link_to "Login", new_user_session_path %></li>
			<li><%= link_to "Sign up", new_user_registration_path, class: "featured" %></li>
	</ul>
<!--NOT LOGGED IN -->